.container {
    background-image: url("../images/ricepaper2/ricepaper2.png");
}

header {
    height: 54px;
    width: 100%;
    background-color:#ffffff;
    border-bottom: solid #cccccc 3px;

}

#name {
    text-align: center;
    font-size: 28px;
    color: white;
    margin-left: 62px;
    background-color: #777777;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
}

.links{
    text-align: center;
    margin-left: 750px;
    padding-top: 25px;
    font-size: 12px;
    
}

a {
    color:  #777777;
    text-decoration: none;
}

section{
    height: 605px;
}

.contentBody {
    width: 940px;
    height: 465px;
    margin: 25px  auto;
    background-color:#ffffff; 
    border: solid #dddddd 1px;
}

.contentHeader {
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #777777;
    padding-top: 20px;
    border-bottom: solid #dddddd 1px;
}

.content {
    margin: 10px;
    font-size: 14px;
    background-color: #ffffff;
    padding: 20px;
}

img {
    height: 150px;
    width: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

.text {
    font-weight: 500;
    line-height: 1.6;
    color: #777777;
}

footer {
    clear: both;
    border-top: solid #cccccc 8px;
    background-color: #666666;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-top: 40px;
    color: #cccccc;
}

/* Contact Page */

#name1 {
    text-align: center;
    font-size: 28px;
    color: white;
    margin-left: 330px;
    background-color: #777777;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
}

.links1 {
    text-align: left;
    /* margin-right: 200px; */
    padding-top: 25px;
    font-size: 12px;
    float: right;
}

.contentBody1 {
    width:650px;
    height: 465px;
    margin: 25px  auto;
    background-color:#ffffff; 
    border: solid #dddddd 1px;
}

form, input, textarea {
   align-content: left;
   color: #777777;
   width: 100%;
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 2px;
}

button {
   background-color:  #666666;
   color: white;
   padding: 5px 10px;
   text-align: center;
   font-size: 10px;
}

/* portfolio page */

.contentBody2 {
    width:650px;
    height: 550px;
    margin: 25px  auto;
    background-color:#ffffff; 
    border: solid #dddddd 1px;
}

.work {
    position: relative;
    float: left;
    width: 174px;
    margin: 20px;
  }

